.dna-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    perspective: 800px;

    .blueprint {
        position: relative;
        width: 100px;
        height: 400px;
        transform-style: preserve-3d;

        .bar {
            position: absolute;
            height: 4px;
            width: 100%;
            background: rgba(34, 79, 35, 0.8);
            border-radius: 50px;
            left: 0;
            top: calc(var(--index) * 20px); 
            
            transform-style: preserve-3d;
            animation: rotate-helix 5s linear infinite;
            animation-delay: calc(var(--index) * -0.2s);
        }
    }
}

@keyframes rotate-helix {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}