#footerContainer{
    background-image: linear-gradient(#59d05d, #47a54b, #224f23 );
    clip-path: polygon(
        0 0, 
        60% 0, 
        63% 5%, 
        83% 5%, 
        86% 0, 
        100% 0, 
        100% 100%, 
        0 100%
    );
    padding: 4rem;
    height: auto;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-shadow: inset 0 10px 0 #ffffff;
    text-align: center;
    text-shadow: 1px 1px #000000;

    #footerDescription{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        text-align: justify;
    }
        
    img{
        height: 150px;
        width: auto;
        filter: drop-shadow(0 0 20px #000000);
    }

    ul{
        display: flex;
        flex-direction: row;
        gap: 1rem;

        li{
            font-size: 1rem;
            list-style: none;
            transition: transform 0.2s ease-in-out;
            cursor: pointer;

            img{
                height: 60px;
                width: auto;
                filter: drop-shadow(0 0 20px #000000);
            }

            &:hover{
                filter: drop-shadow(0 0 20px #ffffff);
                transform: translateY(-10px);
            }
        }
    }
}