#footerContainer{
    background-image: linear-gradient(#59d05d, #47a54b, #224f23 );
    clip-path: polygon(
        0 0, 
        50px 0, 
        60px 5%, 
        220px 5%, 
        230px 0, 
        100% 0, 
        100% 100%, 
        0 100%
    );
    padding: 4rem;
    height: auto;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-shadow: inset 0 10px 0 #ffffff;
    text-align: center;
    text-shadow: 1px 1px #000000;

    #footerDescription{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        text-align: justify;

        img{
            height: 150px;
            width: auto;
            filter: drop-shadow(0 0 20px #000000);
        }
    }

    ul{
        display: flex;
        flex-direction: row;
        gap: 1rem;

        li{
            list-style: none;
            transition: transform 0.2s ease-in-out;
            cursor: pointer;

            img{
                height: 60px;
                width: auto;
                filter: drop-shadow(0 0 20px #000000);
            }

            &:hover{
                filter: drop-shadow(0 0 20px #ffffff);
                transform: translateY(-10px);
            }
        }
    }
}

@media (max-width: 1024px){
    #footerContainer{
        #footerDescription{
            h4{
                font-size: 0.8rem;
            }
        }

        h6{
            font-size: 0.4rem;
        }
    }
}

@media (max-width: 768px){
    #footerContainer{
        #footerDescription{
            flex-direction: column;

            img{
                height: 150px;
            }

            h4{
                font-size: 0.6rem;
            }
        }

        ul{
            li{
                img{
                    height: 40px;
                }
            }
        }

        h6{
            font-size: 0.4rem;
        }
    }
}

@media (max-width: 425px){
    #footerContainer{
        #footerDescription{
            flex-direction: column;

            img{
                height: 100px;
            }

            h4{
                font-size: 0.4rem;
            }
        }

        ul{
            li{
                img{
                    height: 30px;
                }
            }
        }

        h6{
            line-height: 1rem;
            font-size: 0.2rem;
        }
    }
}