:root {
  background-image: url("/src/assets/pokemon-bg.gif");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: stretch;
  background-blend-mode: multiply;
  background-position: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  scroll-behavior: smooth;
  user-select: none;
}

::-webkit-scrollbar{
  width: auto;
}

::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}