:root {
  background-image: url("/src/assets/pokemon-bg.gif");
  background-color: rgba(0, 0, 0, 0.4);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: stretch;
  background-blend-mode: multiply;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}