@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modalBox{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2rem;
    max-width: 800px;
    min-height: 400px;
    border: 8px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

    animation: popFade 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.modalContent {
    overflow-y: scroll;
    height: 400px;
    width: 100%;
    padding: 1rem;
    margin: 0;

    font-family: "Press Start 2P", cursive;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #ffffff;
    text-align: center;

    h3{
        margin-bottom: 1rem;
        border-bottom: 2px solid #ffffff;
        display: inline-block;
    }

    header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        span{
            font-size: 1.5rem;
            font-weight: bold; 
            text-shadow: 3px 3px 0px rgba(0,0,0,0.3);
        }
    }

    #modalPokemonDescription{
        display: flex;
        gap: 20px;
        margin-bottom: 30px;
        
        #modalImgContainer{
            background: rgba(255, 255, 255, 0.25);
            border-radius: 15px; 
            padding: 20px;
            flex: 1;
            min-width: 250px;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 220px;
                filter: drop-shadow(10px 10px 0px rgba(0,0,0,0.1));
            }
        }

        #modalDescriptionContainer{
            background: rgba(0, 0, 0, 0.1);
            padding: 1rem;
            align-content: center;
            border-radius: 10px;
        }
    }

    #modalGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 100%;

        .gridItem {
            background: rgba(255, 255, 255, 0.1);
            padding: 1rem;
            border-radius: 8px;

            ul{
                list-style: none;
                padding: 0;
                margin: 0;

                li{
                    margin-bottom: 5px;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}

@keyframes popFade {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.close-btn {
    position: absolute;
    top: -20px;
    right: -20px;
    background: #ff4444;
    color: white;
    border: 2px solid white;
    padding: 8px 12px;
    cursor: pointer;
    font-family: "Press Start 2P", cursive;
    font-size: 12px;
    z-index: 10;
}