#evolutionContainer{
    height: 100%;
    width: 100%;
    margin-top: 1rem;

    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 1.5;

    #evolutionDisplayWrapper{
        position: relative;
        background: #ffffff;
        clip-path: polygon(
            0 10%, 
            10% 0, 
            50% 0, 
            60% 10%, 
            100% 10%, 
            100% 100%, 
            10% 100%,
            0 90%
        );
        height: 500px;
        width: 100%;
        margin: 0 auto;

        #evolutionDisplayContainer{
            position: absolute;
            clip-path: polygon(
                0 10%, 
                10% 0, 
                50% 0, 
                60% 10%, 
                100% 10%, 
                100% 100%, 
                10% 100%,
                0 90%
            );
            top: 5px;
            left: 5px;
            height: calc(100% - 10px);
            width: calc(100% - 10px);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            #evolutionDisplay{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 1rem;
                width: 100%;

                .dna-column {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                    opacity: 0.3;
                    pointer-events: none;
                }

                .evolution-path-column {
                    position: absolute;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 1rem;
                    overflow-x: scroll;

                    width: 100%;
                    padding: 1rem;
                    box-sizing: border-box;
                    border-radius: 10px;

                    .evolution-step {
                        display: flex;
                        align-items: center;
                        background: rgba(0, 0, 0, 0.2);
                        padding: 2rem;
                        height: stretch;
                        border-radius: 30px;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;

                        &:hover{
                            transform: translateY(-5px);
                        }

                        &:active{
                            transform: scale(0.95);
                        }

                        img {
                            width: 80px;
                        }
                    }

                    .evo-info {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        margin-left: 15px;

                        .evo-label {
                            color: #00ffcc;
                        }

                        .evo-description{
                            padding: 20px;
                            background: rgba(255, 255, 255, 0.2);
                            border-radius: 20px;
                            text-align: justify;
                            width: 400px;
                        }
                    }
                }
            }
        }
    }
}