#evolutionContainer{
    height: 800px;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;

    #evolutionDisplayWrapper{
        position: relative;
        background: #ffffff;
        clip-path: polygon(
            0 10%, 
            10% 0, 
            45% 0, 
            55% 10%, 
            100% 10%, 
            100% 100%, 
            10% 100%,
            0 90%
        );
        height: 100%;
        width: 100%;
        box-sizing: border-box;

        #evolutionDisplay{
            position: absolute;
            background-image: linear-gradient(#224f23, #3f8e40, #6eff72);
            clip-path: polygon(
                0 10%, 
                10% 0, 
                45% 0, 
                55% 10%, 
                100% 10%, 
                100% 100%, 
                10% 100%,
                0 90%
            );
            top: 5px;
            left: 5px;
            height: calc(100% - 10px);
            width: calc(100% - 10px);
            box-sizing: border-box;

            padding: 6rem 4rem;
            display: flex;
            flex-direction: column;

            h2{
                margin-bottom: 10px;
            }

            #evolutionFlexContainer{
                background: rgba(255, 255, 255, 0.6);
                border-radius: 10px;
                height: 100%;
                width: 100%;

                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: stretch;
                gap: 1rem;
            }
        }
    }
}