@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 1.5rem;
}

#navContainer{
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 999;

  ul{
    background-image: linear-gradient(#4cb150, #3e9141);
    clip-path: polygon(
      0 0, 
      100% 0, 
      100% 80px, 
      200px 80px, 
      190px 100%, 
      30px 100%, 
      20px 80px,
      0 80px
    );
    height: 100px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    box-shadow: inset 0 10px 0 #dedede;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    li{
      list-style-type: none;
      filter: drop-shadow(0 0 20px #000000);
      transition: filter 0.2s ease-in-out;
      width: 200px;

      a{
        height: 100%;
        font-size: 1rem;
        text-decoration: none;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &:hover{
        filter: drop-shadow(0 0 20px #9fff89);

        a{
          color: #224f23;
        }
      }
    }

    #logout:hover{
      filter: drop-shadow(0 0 20px #ff7777);

      a{
        color: #8a3636;
      }
    }
  }

  @media (max-width: 1024px){
    ul{
      height: 80px;
      clip-path: polygon(
        0 0, 
        100% 0, 
        100% 60px, 
        200px 60px, 
        190px 100%, 
        30px 100%, 
        20px 60px,
        0 60px
      );

      li{
        width: 150px;

        a{
          font-size: 0.6rem;
        }
      }
    }
  }

  @media (max-width: 768px){
    ul{
      height: 60px;
      clip-path: polygon(
        0 0, 
        100% 0, 
        100% 50px, 
        200px 50px, 
        190px 100%, 
        30px 100%, 
        20px 50px,
        0 50px
      );

      li{
        width: 100px;

        a{
          font-size: 0.6rem;
        }
      }
    }
  }

  @media (max-width: 425px){
    ul{
      justify-content: center;

      li{
        width: 80px;

        a{
          font-size: 0.5rem;
        }
      }
    }
  }
}

#flexStyle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  width: 80%;
  margin-top: 4rem;

  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    text-shadow: 1px 1px #000000;
  }

  #searchPaginationField{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
    width: 100%;
    max-width: 1200px;

    #searchContainer{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      #searchInput{
        padding: 1rem;
        font-size: 1rem;
        color: #000000;
        border: 4px solid #333;
        border-radius: 30px;
        height: 60px;
        width: 100%;
        box-sizing: border-box;
      }
      
      .searchButton{
        padding: 1rem;
        font-size: 1rem;
        background-color: #4caf50;
        border: 4px solid #333;
        border-radius: 30px;
        cursor: pointer;
        height: stretch;
      }
    }

    @media (max-width: 1024px){
      #searchContainer{
        #searchInput, .searchButton{
          font-size: 0.6rem;
          padding: 0.6rem;
        }
      }
    }

    @media (max-width: 768px){
      #searchContainer{
        flex-direction: column;
        gap: 0.6rem;

        #searchInput, .searchButton{
          font-size: 0.4rem;
          text-align: center;
          padding: 0.4rem;
          height: 40px;
          width: 100%;
        }
      }
    }

    @media (max-width: 425px){
      #searchContainer{
        gap: 0.4rem;

        #searchInput, .searchButton{
          font-size: 0.3rem;
          padding: 0.2rem;
        }
      }
    }

    #paginationContainer{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      background-color: #ffffff;
      border-radius: 30px;

      #pageInputStyle{
        background: none;
        border: 1px solid #000000;
        border-radius: 10px;
        padding: 1rem;
        margin: 0 10px;
        width: 100px;
        
        font-size: 1rem;
        color: #000000;
        text-align: center;
      }

      #pageIndicatorStyle, #pageIndicatorStyle span{
        color: #000000;
        font-size: 1rem;
      }

      #pageButtonStyle{
        height: fit-content;
        width: 20%;
        padding: 1rem;
        font-size: 1rem;
        background-color: #327433;
        border-radius: 30px;
        color: #ffffff;
        border: 4px solid #333333;
        cursor: pointer;
      }
    }

    @media (max-width: 1024px){
      #paginationContainer{
        #pageInputStyle, #pageButtonStyle{
          padding: 0.6rem;
        }

        #pageInputStyle, #pageIndicatorStyle, #pageIndicatorStyle span, #pageButtonStyle{
          font-size: 0.6rem;
        }
      }
    }

    @media (max-width: 768px){
      #paginationContainer{
        #pageInputStyle{
          margin: 0 8px;
          width: 60px;
        }

        #pageInputStyle, #pageButtonStyle{
          padding: 0.4rem;
        }

        #pageInputStyle, #pageIndicatorStyle, #pageIndicatorStyle span, #pageButtonStyle{
          font-size: 0.4rem;
        }
      }
    }

    @media (max-width: 425px){
      #paginationContainer{
        #pageInputStyle{
          width: 40px;
        }

        #pageInputStyle, #pageButtonStyle{
          padding: 0.2rem;
        }

        #pageInputStyle, #pageIndicatorStyle, #pageIndicatorStyle span, #pageButtonStyle{
          font-size: 0.3rem;
        }
      }
    }

    #shinyToggleBtn{
      padding: 1rem;
      font-size: 1rem;
      text-align: center;
      color: #ffffff;
      background: linear-gradient(135deg, #2c3e50, #000000);
      border-radius: 30px;
      border: 4px solid #ffd700;
      box-shadow: 0 0 15px rgb(255, 217, 0);
      cursor: pointer;
    }

    @media (max-width: 1024px){
      #shinyToggleBtn{
        padding: 0.6rem;
        font-size: 0.6rem;
      }
    }

    @media (max-width: 768px){
      #shinyToggleBtn{
        padding: 0.4rem;
        font-size: 0.4rem;
      }
    }

    @media (max-width: 425px){
      #shinyToggleBtn{
        padding: 0.2rem;
        font-size: 0.3rem;
      }
    }
  }

  #gridContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 4rem 0;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;

    #filterField{
      position: relative;
      display: inline-flex;
      justify-content: flex-start;
      flex-direction: row;
      gap: 1rem;

      #filterSelection, #filterTypeSelection, option{
        color: #000000;
        font-size: 1rem;
        text-align: center;
      }

      #inner-filter-icon{
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 25px;
        pointer-events: none;
        z-index: 10;
      }

      #inner-type-icon{
        position: absolute;
        left: 385px;
        top: 50%;
        transform: translateY(-50%);
        width: 25px;
        pointer-events: none;
        z-index: 10;
      }

      #filterSelection, #filterTypeSelection{
        height: 50px;
        width: auto;
        border-radius: 10px;
        border: 4px solid #333;
        padding: 10px;
        padding-left: 50px;
      }
    }

    @media (max-width: 1024px){
      #filterField{
        #filterSelection, #filterTypeSelection, option{
          font-size: 0.6rem;;
        }

        #inner-type-icon{
          left: 285px;
        }
      }
    }

    @media (max-width: 768px){
      #filterField{
        #filterSelection, #filterTypeSelection, option{
          font-size: 0.4rem;
        }

        #inner-filter-icon, #inner-type-icon{
          width: 15px;
        }

        #inner-type-icon{
          left: 210px;
        }

        #filterSelection, #filterTypeSelection{
          padding-left: 20px;
        }
      }
    }

    @media (max-width: 425px){
      #filterField{
        #filterSelection, #filterTypeSelection, option{
          font-size: 0.3rem;
        }

        #inner-filter-icon, #inner-type-icon{
          width: 10px;
        }

        #inner-type-icon{
          left: 180px;
        }

        #filterSelection, #filterTypeSelection{
          height: 40px;
          padding: 5px;
          padding-left: 20px;
        }
      }
    }

    #gridStyle{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 20px;
      justify-content: center;
      justify-items: center;
      margin: 0 auto;
      width: 100%;
    }

    @media (max-width: 1024px){
      #gridStyle{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
    }
  }
}

.nav-show {
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
  opacity: 1;
}

.nav-hide {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 1024px){
  #modalWrapper{
    transform: scale(0.8);
  }
}