#introContainer{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    box-sizing: border-box;
    z-index: 9999;

    #pokedexImgContainer{
        position: absolute;
        top: 50%;
        left: 50%;
        transition: transform 2.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9;

        #pokedexImg{
            height: 200px;
            width: auto;
        }
    }

    #pokeTableContainer{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;

        #pokeTable{
            height: 600px;
            width: auto;
        }
    }

    #pokedexLogoContainer{
        position: absolute;
        left: 10px;
        bottom: 10px;

        #pokedexLogo{
            height: 50px;
            width: auto;
        }
    }
}

#hint{
    color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px #000000;
    font-family: "Press Start 2P", cursive;
    position: absolute;
    bottom: 22%;
    width: 100%;
    z-index: 99;
}

footer{
    font-size: 8px;
    color: #000000; 
    text-align: center;
    font-family: "Press Start 2P", cursive;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 2%;
    width: 80%;
}

#blackoutAnim{
    position: fixed;
    inset: 0;
    background-color: #000000;
    z-index: 100;
    transition: opacity 1.5s ease-in-out;
    overflow: hidden;
}

@media screen and (max-width: 1024px){
    #introContainer{
        #pokedexImgContainer{
            #pokedexImg{
                height: 100px;
            }
        }

        #pokeTableContainer{
            #pokeTable{
                height: 400px;
            }
        }
    }

    footer{
        line-height: 1rem;
        font-size: 6px;
    }
}

@media screen and (max-width: 760px){
    #introContainer{
        #pokedexImgContainer{
            #pokedexImg{
                height: 80px;
            }
        }

        #pokeTableContainer{
            #pokeTable{
                height: 300px;
            }
        }
    }

    #hint{
        font-size: 0.8rem;
    }

    footer{
        line-height: 1rem;
        font-size: 4px;
        width: 60%;
    }
}

@media screen and (max-width: 400px){
    #introContainer{
        #pokedexImgContainer{
            top: 45%;

            #pokedexImg{
                height: 60px;
            }
        }

        #pokeTableContainer{
            #pokeTable{
                height: 200px;
            }
        }
    }

    #hint{
        font-size: 0.6rem;
    }

    footer{
        line-height: 10px;
        font-size: 2px;
        width: 60%;
    }
}