#headerStyle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    user-select: none;
}

#idStyle{
    font-size: 1rem;
    font-weight: bold;
    color: #333333;
}

#hpStyle{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(211, 47, 47, 0.8);
    padding: 1rem;
}

#nameStyle{
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
}

#imageContainerStyle{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(2px);
}

#typeContainerStyle{
    margin-top: 1rem;
    display: flex;
    gap: 5px;
    user-select: none;
}

#typeBadgeStyle{
    padding: 1rem;
    border-radius: 10px;
    font-size: 0.8rem;
    text-transform: uppercase;
    border: 4px solid rgba(0, 0, 0, 0.1);
    filter: hue-rotate(10deg);
}

.dynamicCardStyle {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.dynamicCardStyle:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  filter: brightness(1.1);
}