#evolutionContainer{
    height: 800px;
    width: 100%;
    margin-bottom: 1rem;
    padding: 2rem;
    box-sizing: border-box;

    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 1.5;

    #evolutionDisplayWrapper{
        position: relative;
        background: #ffffff;
        clip-path: polygon(
            0 10%, 
            10% 0, 
            50% 0, 
            60% 10%, 
            100% 10%, 
            100% 100%, 
            10% 100%,
            0 90%
        );
        height: 100%;
        width: 100%;
        box-sizing: border-box;

        #evolutionDisplayContainer{
            position: absolute;
            background-image: linear-gradient(#224f23, #49a74b, #224f23);
            clip-path: polygon(
                0 10%, 
                10% 0, 
                50% 0, 
                60% 10%, 
                100% 10%, 
                100% 100%, 
                10% 100%,
                0 90%
            );
            top: 5px;
            left: 5px;
            height: calc(100% - 10px);
            width: calc(100% - 10px);
            box-sizing: border-box;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            h2{
                position: absolute;
                top: 40px;
                left: 500px;
            }

            #evolutionDisplay{
                padding: 6rem 4rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                width: 100%;
                box-sizing: border-box;

                .dna-column {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-height: 400px;
                }

                .evolution-path-column {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;

                    height: 500px;
                    width: 100%;
                    margin: 0 auto;
                    padding: 1rem 0;
                    background: rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                    overflow-y: scroll;

                    .evolution-step {
                        display: flex;
                        align-items: center;
                        background: rgba(255, 255, 255, 0.1);
                        padding: 2rem;
                        border-radius: 12px;
                        transition: transform 0.3s ease;

                        &:hover {
                            transform: translateX(10px);
                            background: rgba(255, 255, 255, 0.2);
                        }

                        img {
                            width: 80px;
                        }
                    }

                    .evo-info {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        margin-left: 15px;

                        .evo-label {
                            color: #00ffcc;
                        }

                        .evo-description{
                            padding: 20px;
                            background: rgba(255, 255, 255, 0.2);
                            border-radius: 10px;
                            text-align: justify;
                            width: 600px;
                        }
                    }
                }
            }
        }
    }
}