#evolutionContainer{
    height: 100%;
    width: 100%;
    margin-top: 1rem;

    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 1.5;

    #evolutionDisplayWrapper{
        position: relative;
        background: #ffffff;
        clip-path: polygon(
            0 20px, 
            20px 0, 
            100px 0, 
            120px 20px, 
            100% 20px, 
            100% 100%, 
            100% 100%,
            0 100%
        );
        height: 500px;
        width: 100%;
        margin: 0 auto;

        #evolutionDisplayContainer{
            position: absolute;
            clip-path: polygon(
                0 20px, 
                20px 0, 
                90px 0, 
                110px 20px, 
                100% 20px, 
                100% 100%, 
                100% 100%,
                0 100%
            );
            top: 5px;
            left: 5px;
            height: calc(100% - 10px);
            width: calc(100% - 10px);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            #evolutionDisplay{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 1rem;
                width: 100%;

                #dnaColumn {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                    opacity: 0.3;
                    pointer-events: none;
                }

                .evolutionPathColumn {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1rem;
                    overflow-x: auto;

                    width: 100%;
                    height: 100%;
                    padding: 1rem;
                    box-sizing: border-box;
                    border-radius: 10px;

                    .evolutionStep {
                        display: flex;
                        align-items: center;
                        background: rgba(0, 0, 0, 0.2);
                        padding: 2rem;
                        height: stretch;
                        border-radius: 30px;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;

                        &:hover{
                            transform: translateY(-5px);
                        }

                        &:active{
                            transform: scale(0.95);
                        }

                        img {
                            width: 80px;
                        }
                    }

                    .evoInfo {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        margin-left: 15px;

                        .evoLabel {
                            color: #00ffcc;
                        }

                        .evoDescription{
                            padding: 20px;
                            background: rgba(255, 255, 255, 0.2);
                            border-radius: 20px;
                            text-align: justify;
                            width: 400px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px){
        #evolutionDisplayWrapper{
            height: auto;
            min-height: 600px;

            #evolutionDisplayContainer{
                #evolutionDisplay{
                    .evolutionPathColumn {
                        flex-direction: column;
                        justify-content: flex-start;
                        overflow-y: auto;
                        overflow-x: hidden;
                        height: 500px;
                        max-height: 100%;

                        .evolutionStep{
                            flex-direction: column;

                            img{
                                align-self: center;
                                margin-bottom: 15px;
                            }
                        }

                        .evoInfo {
                            margin-left: 0;

                            .evoLabel, .evoDescription {
                                font-size: 0.8rem;
                                width: 100%;
                                max-width: 300px;
                            }
                        }
                    }
                }
            }
        }
    }
}