@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
  color: #ffffff;
}

#navContainer{
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 999;

  #navWrapper{
    position: relative;
    background-color: #ffffff;
    height: 80px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 5% 100%, 0 70%, 0 0);
  }

  #navStyle{
    background-color: #4caf50;
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 5% 100%, 0 70%, 0 0);

    inset: 4px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #navLogo{
    padding: 0 5rem;
    filter: drop-shadow(0 0 20px #000000);
    height: 80px;
    width: auto;
  }

  #navUlStyle{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: auto;
    height: 100%;
  }

  #navUlStyle > li{
    list-style-type: none;
    height: 100%;
    width: 200px;
    filter: drop-shadow(0 0 20px #000000);

    transition: background 0.2s ease;
  }

  #navUlStyle > li > a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #navUlStyle > li:hover{
    background: #ffffff;

    & > a{
      color: #000000;
    }
  }
}

#flexStyle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  margin-top: 4rem;

  #header{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  #searchContainerStyle{
    display: flex;
    justify-content: center;
    margin: 30px 0;
    gap: 10px;
    width: 100%;
  }

  #inputStyle{
    padding: 15px;
    font-size: 0.8rem;
    color: #000000;
    border: 4px solid #333;
    border-radius: 30px;
    min-width: 50%;
  }

  #searchButtonStyle{
    padding: 10px 20px;
    font-size: 0.8rem;
    background-color: #4caf50;
    border: 4px solid #333;
    border-radius: 30px;
    cursor: pointer;
  }

  #gridStyle{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 90%;
    max-width: 1200px;
  }
}

#searchFilterField{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;

  #paginationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #ffffff;
    border-radius: 30px;

    #pageInputStyle{
      width: 80px;
      background: none;
      border: 1px solid #000000;
      border-radius: 10px;
      padding: 0.5rem;
      margin: 0 10px;
      
      font-size: 1rem;
      color: #000000;
      text-align: center;
    }

    #pageIndicatorStyle, #pageIndicatorStyle span{
      color: #000000;
      font-size: 1rem;
    }

    #pageButtonStyle{
      height: fit-content;
      padding: 10px 20px;
      font-size: 1rem;
      background-color: #3b4cca;
      border-radius: 30px;
      color: #ffffff;
      border: 4px solid #333;
      cursor: pointer;
    }
  }

  #filterContainer{
    position: relative;
    display: inline-block;

    #filterSelection, #filterTypeSelection, option{
      color: #000000;
      font-size: 1rem;
      text-align: center;
    }

    #inner-filter-icon{
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      pointer-events: none;
      z-index: 10;
    }

    #inner-type-icon{
      position: absolute;
      right: 240px;
      top: 50%;
      filter: invert();
      transform: translateY(-50%);
      width: 25px;
      pointer-events: none;
      z-index: 10;
    }

    #filterSelection, #filterTypeSelection{
      height: fit-content;
      width: auto;
      border-radius: 30px;
      border: 4px solid #333;
      padding: 10px 10px 10px 50px;
      appearance: none;
    }
  }
}